/*********************************/
/****** Ajustes menu home *******/
/*******************************/
	
 	
	@media (max-width: 980px) {
		.header-home .nav-sections li:nth-child(4),
		.header-home .nav-sections li:nth-child(5) {display: none;}
	}

	@media (max-width: 1000px) {
		
		.header-home .nav-sections li:nth-child(6) {display: none;}
		
	}	

	@media (max-width: 1075px) {
		
		.header-home .nav-sections li:nth-child(7) {display: none;}
		
	}	

	@media (max-width: 1280px) {	
		
		.header-home .nav-sections li:nth-child(8),
		.header-home .nav-sections li:nth-child(9) {display: none;}
	}
	
	@media (max-width: 1390px) {	

		.header-home .nav-sections li:nth-child(10) {display: none;}
		
	}



/* Ajustes menu - seccion */

@media (max-width: 1320px) {
  .nav-ppal .item9 { display: none;}
}

@media (max-width: 1280px) {
  .nav-ppal .item8 { display: none;}
}